##Transformaci칩n de Fechas y horas

In [ ]:
#Importamos librer칤as
from datetime import datetime, date, time, timedelta
import datetime
import pandas as pd
import numpy as np

In [ ]:
#A칌O
ahora = datetime.datetime.now()
print("La fecha y hora actual es: ", ahora)

#Este a침o
anio = ahora.year
print("El a침o es: ", anio)

#A침o proximo
a침o_proximo = anio + 1
print("El a침o pr칩ximo es: ", a침o_proximo)

In [ ]:
#Mes

#Mes actual
mes_actual = ahora.month
print("El mes actual es: ", mes_actual)

#Mes pr칩ximo
mes_proximo = mes_actual + 1
print("El mes pr칩ximo es: ", mes_proximo)

#Cambio el tipo de dato
print(type(mes_proximo))
print(type(str(mes_proximo)))

In [ ]:
#DIA

#Dia actual
dia_actual = ahora.day
print("El d칤a actual es: ", dia_actual)

#Dia pr칩ximo
dia_proximo = dia_actual + 1
print("El d칤a pr칩ximo es: ", dia_proximo)

In [ ]:
#HORA

#Hora GMT
ahora = datetime.datetime.now()
print("La hora Greenwich Mean Time (GMT) es: ", ahora)

#Hora Argentina (Le restamos 3 horas)
hora_arg = ahora - timedelta(hours=3)
print("La hora en Argentina es:", hora_arg)

In [ ]:
# Formatear la hora
hora_formateada = ahora.strftime("%Y-%m-%d %H:%M:%S")

# Imprimir la hora formateada
print("La hora actual es:", hora_formateada)

##Transformaci칩n de Strings a enteros

In [ ]:
#Cambio el tipo de dato, de string a enteros

numero = "15"

print(type(numero))

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

In [ ]:
#convertimos el dato de estring a enteros
numero = int(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

##Transformaci칩n de Strings a decimales

In [ ]:
#Cambio el tipo de dato, de string a enteros

numero = "10.1"

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

In [ ]:
#convertimos el dato de estring a enteros
numero = float(numero)

print(f"El numero ingresado es : {numero} y el tipo es:  {type(numero)} ")

##Transformaci칩n, join de datasets

In [ ]:

# Notas de Matem치tica y Lengua
df1 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno1', 'Alumno2'],
                    'Materm치tica': ['5', '6', '7'],
                    'Lengua': ['7', '7', '8']
                    })

# Notas de Historia y Geograf칤a
df2 = pd.DataFrame({'Alumno': ['Alumno0', 'Alumno2', 'Alumno3'],
                    'Historia': ['4', '5', '4'],
                    'Geograf칤a': ['6', '7', '9']
                    })

# Mostramos los dataframes
print(df1)
print('           ')
print(df2)

In [ ]:
# Hacemos join de los dataframes y mostramos las notas

merged_df = pd.merge(df1, df2, on='Alumno', how='right')
print(merged_df)

##Substituci칩n de datos faltante por un tipo de dato default

In [ ]:
#Reemplazamos nulos por ceros

# Creando un DataFrame
df = pd.DataFrame({'columna1': [1, 2, None, 4],
                   'columna2': [5, None, None, 8]})

print(df)

In [ ]:
# Rellenando los valores nulos con 0

df = df.fillna(0) #Podemos reemplazar el cero por el valor que necesitemos
print(df)

##Filtrar datos que rompen reglas de negocio o porque no los necesitemos

In [ ]:

# Creamos un DataFrame de ejemplo
data = {'producto': ['A', 'B', 'C', 'D'],
        'precio': [5, 15, 8, 20]}
df = pd.DataFrame(data)

print(df)

In [ ]:
# Filtrar los productos con precio menor a 10
df_filtrado = df[df['precio'] < 10]
print(df_filtrado)

##Eliminar columnas que no son necesarias

In [ ]:

# Creamos un DataFrame de ejemplo
data = {'nombre': ['Ana', 'Pedro', 'Mar칤a'],
        'edad': [30, 25, 32],
        'ciudad': ['Madrid', 'Barcelona', 'Sevilla'],
        'correo': ['ana@example.com', 'pedro@example.com', 'maria@example.com'],
        'telefono': [123456789, 987654321, 567891234]}
df = pd.DataFrame(data)

print(df)

In [ ]:
# Eliminar las columnas 'correo' y 'telefono'
columnas_a_eliminar = ['correo', 'telefono']

#axis=1: Se refiere a las columnas.
#inplace=True: modifica el DataFrame original en lugar de crear una copia y realizar los cambios en ella
df.drop(columnas_a_eliminar, axis=1, inplace=True)

print(df)

<H1>
游닇 Ejercicios de Transformaci칩n de Datos

1. Transformaci칩n de Fechas y Horas: Crea un script que calcule y muestre la fecha del pr칩ximo lunes.

Pista: Usa la librer칤a datetime.

In [1]:
#Ejercicio 1
from datetime import datetime, date, time, timedelta
import datetime
import pandas as pd
import numpy as np

In [3]:
#Ejercicio 1
ahora = datetime.datetime.now()
print("La fecha y hora actual es: ", ahora)
dia_actual = ahora.day
print("El d칤a actual es: ", dia_actual)
#le sumamos 4 porque lo hicimos un jueves
lunes_proximo = dia_actual + 4
print("El pr칩ximo lunes es: ", lunes_proximo)

La fecha y hora actual es:  2025-09-25 19:36:56.465135
El d칤a actual es:  25
El pr칩ximo lunes es:  29

2. Transformaci칩n de Strings a N칰meros: Convierte la cadena "99.5" a un tipo de dato flotante y luego a un tipo de dato entero. 쯈u칠 sucede con el valor decimal al hacer la conversi칩n final?

In [7]:
#Ejercicio 2
numero = "99.5"
print(type(numero))
numero = float(numero)
print(numero)
numero = int(numero)
print(numero)

#al convertirlo en int, el numero se redondea a 99 ya que no admite decimales.

99

3. Filtrado de Datos: Dado el siguiente DataFrame, filtra los datos para mostrar solo las ventas que superan los 500 y son del producto 'A'.

In [8]:
#Ejercicio 3
data = {'producto': ['A', 'B', 'A', 'C'], 'ventas': [600, 450, 750, 300]}
df = pd.DataFrame(data)
print(df)

df_filtrado = df[(df['ventas'] > 500) & (df['producto'] == 'A')]
print(df_filtrado)

  producto  ventas
0        A     600
1        B     450
2        A     750
3        C     300
  producto  ventas
0        A     600
2        A     750

4. Agrupaci칩n y Agregaci칩n de Datos: Utiliza el DataFrame anterior y agr칰palo por 'producto' para calcular la suma total de 'ventas' por cada producto.

In [9]:
#Ejercicio 4
df_agrupado = df.groupby('producto')['ventas'].sum()
print(df_agrupado)

producto
A    1350
B     450
C     300
Name: ventas, dtype: int64

5. Uni칩n de DataFrames: Tienes dos DataFrames, uno con datos de empleados y otro con sus salarios. 칔nelos para que en un solo DataFrame aparezca el nombre del empleado y su salario.

In [11]:
#Ejercicio 5
df_empleados = pd.DataFrame({'id_empleado': [101, 102, 103], 'nombre': ['Juan', 'Mar칤a', 'Pedro']})
df_salarios = pd.DataFrame({'id_empleado': [102, 101, 103], 'salario': [50000, 60000, 75000]})

df_unido = pd.merge(df_empleados, df_salarios, on='id_empleado')
print(df_unido[['nombre', 'salario']])

  nombre  salario
0   Juan    60000
1  Mar칤a    50000
2  Pedro    75000

6. Reemplazo de Valores: En el siguiente DataFrame, reemplaza todos los valores None en la columna 'edad' por el valor de la edad promedio de la columna.

In [12]:
#Ejercicio 6

data = {'nombre': ['Ana', 'Luis', 'Sof칤a'], 'edad': [25, np.nan, 30]}
df = pd.DataFrame(data)

df['edad'].fillna(df['edad'].mean(), inplace=True)
print(df)

  nombre  edad
0    Ana  25.0
1   Luis  27.5
2  Sof칤a  30.0

/tmp/ipython-input-2743607743.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['edad'].fillna(df['edad'].mean(), inplace=True)

7. Eliminaci칩n de Filas: Dado el DataFrame anterior, elimina la fila que contiene el valor None

In [14]:
#Ejercicio 7
data2 = {'nombre': ['Ana', 'Luis', 'Sof칤a'], 'edad': [25, np.nan, 30]}
df2 = pd.DataFrame(data)
df2 = df2.dropna()
print(df2)

#duplicamos el data frame porque como en el punto 6 reemplazamos el nulo, ya no podiamos eliminarlo.

  nombre  edad
0    Ana  25.0
2  Sof칤a  30.0

8. Transformaci칩n de Datos de una Columna: En el siguiente DataFrame, convierte todos los valores de la columna 'ciudad' a may칰sculas.

In [15]:
#Ejercicio 8
df_ciudades = pd.DataFrame({'ciudad': ['madrid', 'barcelona', 'sevilla']})
df_ciudades['ciudad'] = df_ciudades['ciudad'].str.upper()
print(df_ciudades)

      ciudad
0     MADRID
1  BARCELONA
2    SEVILLA

9. Creaci칩n de una Nueva Columna: Usando el DataFrame de df_ciudades, crea una nueva columna llamada 'pa칤s' y asigna el valor 'Espa침a' a todas las filas.

In [16]:
#Ejercicio 9
df_ciudades['pais'] = 'Espa침a'
print(df_ciudades)

      ciudad    pais
0     MADRID  Espa침a
1  BARCELONA  Espa침a
2    SEVILLA  Espa침a

10. Eliminar Duplicados: En el siguiente DataFrame, elimina las filas duplicadas.

In [17]:
#Ejercicio 10
df_duplicados = pd.DataFrame({'A': [1, 2, 2, 3], 'B': ['x', 'y', 'y', 'z']})
df_duplicados = df_duplicados.drop_duplicates()
print(df_duplicados)

   A  B
0  1  x
1  2  y
3  3  z